In [55]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

training_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')
gs_data = pd.read_csv('gender_submission.csv')

In [46]:
women_survived = training_data.loc[training_data['Sex'] == 'female']['Survived']
male_survived = training_data.loc[training_data['Sex'] == 'male']['Survived']

rate_women = sum(women_survived)/len(women_survived)


rate_men = sum(male_survived)/len(male_survived)

In [53]:
y = training_data['Survived']

features = ['Pclass', 'Sex', 'SibSp', 'Parch']
x = pd.get_dummies(training_data[features])
x_test = pd.get_dummies(test_data[features])

In [93]:
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)

model.fit(x, y)

predictions = model.predict(x_test)

output = pd.DataFrame({ 'PassengerId': test_data.PassengerId, 'Survived': predictions })


output.to_csv('submission.csv', index=False)
print('Submission Saved')

Submission Saved

In [91]:
# training_data['_Survived'] = output['Survived']
# training_data.insert(2, '__Survived', output['Survived'])/
# training_data.drop(columns=['__Survived', '_Survived'])

# output
# training_data.insert(4, 'isAlive' , output['Name'])
# training_data

     PassengerId                                          Name  Survived
0            892                              Kelly, Mr. James         0
1            893              Wilkes, Mrs. James (Ellen Needs)         1
2            894                     Myles, Mr. Thomas Francis         0
3            895                              Wirz, Mr. Albert         0
4            896  Hirvonen, Mrs. Alexander (Helga E Lindqvist)         1
..           ...                                           ...       ...
413         1305                            Spector, Mr. Woolf         0
414         1306                  Oliva y Ocana, Dona. Fermina         1
415         1307                  Saether, Mr. Simon Sivertsen         0
416         1308                           Ware, Mr. Frederick         0
417         1309                      Peter, Master. Michael J         0

[418 rows x 3 columns]